[submodule "zsh/zgen"]
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
	ignore = dirty
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	ignore = dirty
[submodule "zsh/fzf"]
	path = zsh/fzf
	url = https://github.com/junegunn/fzf.git
	branch = master
[submodule "zsh/asdf"]
	path = zsh/asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = git@github.com:junegunn/vim-plug.git
