<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>38E79B46-63D3-4119-8CE1-A5B921456BB8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4BB9BB99-D7F6-44CB-A4BB-93B5F25525CB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gcal</string>
			<key>text</key>
			<string>Open Google Calendar</string>
			<key>url</key>
			<string>https://calendar.google.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6B943F6D-70B0-4D80-BAC6-1C944051D243</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>meet</string>
			<key>text</key>
			<string>Google Meet</string>
			<key>url</key>
			<string>https://meet.google.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>95FCADAE-400F-4D42-90C4-646103507525</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>thing</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Thingiverse for '{query}'</string>
			<key>url</key>
			<string>https://www.thingiverse.com/search?q={query}&amp;type=things&amp;sort=relevant</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F5964AA4-CDB0-4619-AFFA-900C49ECD10A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>NPM Search</string>
			<key>url</key>
			<string>https://www.npmjs.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F76C6499-C060-496B-BB1E-E3A7E0E1ACE9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghs</string>
			<key>text</key>
			<string>GitHub Stars</string>
			<key>url</key>
			<string>https://github.com/stars?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
